<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-50</integer>
		<key>quotedbl</key>
		<integer>-150</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-80</integer>
		<key>AE</key>
		<integer>-110</integer>
		<key>J</key>
		<integer>-70</integer>
		<key>c</key>
		<integer>-40</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>quotedbl</key>
		<integer>-80</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-65</integer>
		<key>AE</key>
		<integer>-95</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-35</integer>
		<key>AE</key>
		<integer>-65</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>c</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-80</integer>
	</dict>
	<key>Tbar</key>
	<dict>
		<key>c</key>
		<integer>-20</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>J</key>
		<integer>-60</integer>
		<key>c</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-120</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>J</key>
		<integer>-70</integer>
		<key>c</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-110</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>A</key>
		<integer>-110</integer>
		<key>AE</key>
		<integer>-140</integer>
		<key>J</key>
		<integer>-130</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>comma</key>
		<integer>-70</integer>
	</dict>
</dict>
</plist>
