<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_A</key>
	<array>
		<string>A'</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Aacute</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>Aringacute</string>
	</array>
	<key>_AE</key>
	<array>
		<string>AE'</string>
		<string>AEacute</string>
	</array>
	<key>_J</key>
	<array>
		<string>J'</string>
		<string>Jcircumflex</string>
	</array>
	<key>_L</key>
	<array>
		<string>L'</string>
		<string>Lslash</string>
		<string>Lacute</string>
		<string>uni013B</string>
		<string>Lcaron</string>
		<string>Ldot</string>
	</array>
	<key>_T</key>
	<array>
		<string>T'</string>
		<string>uni0162</string>
		<string>Tcaron</string>
		<string>Tbar</string>
		<string>uni021A</string>
	</array>
	<key>_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
	</array>
	<key>_diag_M</key>
	<array>
		<string>V'</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
	</array>
	<key>_kern_a</key>
	<array>
		<string>a'</string>
		<string>aacute</string>
		<string>agrave</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>atilde</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
		<string>aringacute</string>
		<string>ae</string>
		<string>aeacute</string>
	</array>
	<key>_kern_comillas</key>
	<array>
		<string>quotedbl'</string>
		<string>quotesingle</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>_puntuacion</key>
	<array>
		<string>comma'</string>
		<string>period</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>ellipsis</string>
	</array>
	<key>_redondas_min</key>
	<array>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gdotaccent</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>q</string>
		<string>uni0123</string>
		<string>c'</string>
		<string>oslashacute</string>
	</array>
	<key>_s</key>
	<array>
		<string>s'</string>
		<string>scaron</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scedilla</string>
		<string>uni0219</string>
	</array>
	<key>case1</key>
	<array>
		<string>parenleft</string>
		<string>parenright</string>
		<string>hyphen</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>brokenbar</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>endash</string>
		<string>emdash</string>
		<string>bullet</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
	</array>
	<key>mayusculas</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Ccedilla</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Eth</string>
		<string>Ntilde</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>uni0122</string>
		<string>Hcircumflex</string>
		<string>Hbar</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>IJ</string>
		<string>Jcircumflex</string>
		<string>uni0136</string>
		<string>Lacute</string>
		<string>uni013B</string>
		<string>Lcaron</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>uni0145</string>
		<string>Ncaron</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>OE</string>
		<string>Racute</string>
		<string>uni0156</string>
		<string>Rcaron</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>uni0162</string>
		<string>Tcaron</string>
		<string>Tbar</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>Wcircumflex</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
		<string>uni0218</string>
		<string>uni021A</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>AEacute</string>
		<string>Eng</string>
		<string>Ibreve</string>
		<string>Oslashacute</string>
		<string>Ygrave</string>
		<string>Aringacute</string>
	</array>
</dict>
</plist>
